{{#each this.questions}}
<div class="question" id="question{{this.index}}">
    <div class="question_text"><ol start="{{this.index}}"><li>{{this.text}}</li></ol></div>
    <div class="answers">
        {{#each this.answers}}
        <div class="answer">
            <input type="radio" name="question{{../index}}" value="{{this.text}}"><label>{{this.text}}</label>
        </div>
        {{/each}}
    </div>
    <div class="image-container">
        <img src="{{this.image}}" class="image-scale-vertical image-scale-horizontal" />
    </div>
</div>
{{/each}}
<div class="clear-fix m-top--medium">
    <button class="btn btn-backward float-left" id="btn-previous" href="/prev">Back</button>
    <button class="btn btn-standard btn-forward float-right" id="btn-submit" href="/next">Submit</button>
</div>
