{{#if this.title}}
<h1>{{this.title}}</h1>
{{/if}}
{{{this.text}}}
<div class="hidden m-vertical--medium m-bottom--small" id="validation_msg">
    Sorry! You seem to not have answered all questions...
</div>
{{#each this.questions}}
<div class="question clear-fix p-around--medium m-bottom--medium" questionid="{{this.id}}" id="question{{this.index}}" answer="{{this.correctAnswerId}}">
    <div class="question_text">{{this.text}}</div>
    <div class="answers m-vertical--small">
        {{#each this.answers}}
        <div class="answer m-right--xsmall" answerid="{{this.answerid}}">
            <input type="radio" name="question{{../index}}" value="{{this.text}}"><label>{{this.text}}</label>
        </div>
        {{/each}}
    </div>
    <div class="image-container text-center">
        <img src="{{this.image}}" class="image-scale-vertical image-scale-horizontal" />
    </div>
</div>
{{/each}}
<div class="clear-fix m-top--large">
    <button class="btn btn-backward float-left" id="btn-previous" action="prev">Back</button>
    <button class="btn btn-standard btn-forward float-right" id="btn-submit">Submit</button>
</div>

<script>
    document.querySelector("#btn-submit").addEventListener("click", (event) => {
        // we handle the event
        event.preventDefault = true;
        
        // ensure all questions have been answered
        const questionIds = []; 
        document.querySelectorAll(".question").forEach(n => questionIds.push(n.id));
        const answers = questionIds.reduce((prev, id) => {
             document.querySelector(`#${id}`).querySelectorAll("input[type=radio]").forEach(node => {
                 if (node.checked) {
                     prev.push({
                        "answerid": node.parentNode.getAttribute("answerid"),
                        "questionid": node.parentNode.parentNode.parentNode.getAttribute("questionid"),
                        "name": node.name,
                        "value": node.value
                     })
                }
             })
             return prev;
        }, []);
        if (answers.length === questionIds.length) {
            postStateMessage("next", {
                "answers": answers
            })
        } else {
            // show error message and scroll to top to ensure user can see it
            document.getElementById("validation_msg").classList.remove("hidden");
            document.getElementById("validation_msg").classList.add("visible");
            window.scrollTo(0,0);
        }
    })
</script>
